<button class="scroll-top focus-inset" aria-label="{{ 'general.scroll_top.label' | t }}">
	<svg
		width="44"
		height="44"
		viewBox="0 0 44 44"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g filter="url(#filter0_b_4168_37078)">
		<rect width="44" height="44" rx="22" fill="white" fill-opacity="0.4"/>
		<path d="M22 29.7002L22 14.3002" stroke="currentColor"/>
		<path d="M17.0508 19.25L22.0008 14.3L26.9508 19.25" stroke="currentColor"/>
		</g>
		<defs>
		<filter id="filter0_b_4168_37078" x="-15" y="-15" width="74" height="74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feGaussianBlur in="BackgroundImageFix" stdDeviation="7.5"/>
		<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_4168_37078"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_4168_37078" result="shape"/>
		</filter>
		</defs>
	</svg>
</button>
