body:not(:has(.c-sticky-atc-bar.hide-atc-bar)) selector-root{
    bottom: 120px;
}
.c-sticky-atc-bar{
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 11;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    transition: bottom 0.5s ease-in-out;
}

@media (max-width: 990px) {
    .c-sticky-atc-bar{
        flex-direction: column;
        gap: 10px;
    }
}

.c-sticky-atc-bar.hide-atc-bar{
    bottom: -100%;
}
/* .c-sticky-atc-bar.show-atc-bar{
    bottom: 0;
} */

.c-sticky-atc-bar__product-information{
    display: flex;
    align-items: center;
    gap: 16px;
}

.c-sticky-atc-bar__variant-image {
    height: 69px;
    border: 1px solid #000000;
}
@media (max-width: 990px) {
    .c-sticky-atc-bar__variant-image{
        display: none;
    }
}

.c-sticky-atc-bar__variant-image .image{
    height: 67px;
    width: 50px;
}

.c-sticky-atc-bar__product-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 990px) {
    .c-sticky-atc-bar__product-details{
        flex-direction: row;
    }
}

.c-sticky-atc-bar__product-title{
    font-weight: 500;
    font-size: 16.73px;
    line-height: 22px;
    margin: 0;
}
@media (max-width: 990px) {
    .c-sticky-atc-bar__product-title{
        display: none;
    }
}

.c-sticky-atc-bar__product-price-container{
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 335px;
}
@media (max-width: 990px) {
    .c-sticky-atc-bar__product-price-container{
        justify-content: space-between;
    }
}

.c-sticky-atc-bar__product-price{
    display: flex;
    align-items: center;
    gap: 4px;
}

.c-sticky-atc-bar__discount-banner{
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #4D4D4D;
}

.c-sticky-atc-bar__product-price .price-item{
    font-weight: 600;
    font-size: 12.18px;
    line-height: 17px;
    vertical-align: middle;
}
.c-sticky-atc-bar__product-price dd{
    display: flex;
}
.c-sticky-atc-bar__product-price .price-item.cut-through-price{
    font-weight: 400;
    font-size: 12.18px;
    line-height: 17px;
}
.c-sticky-atc-bar__product-price .badge{
    padding: 0 !important;
}

.c-sticky-atc-bar__button-and-error{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-sticky-atc-bar__button-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.c-sticky-atc-bar__counter-button-group{
    display: flex;
    align-items: center;
}

.c-sticky-atc-bar__add-to-cart-button .product-form__submit{
    width: 223px;
    height: 36px;
}

.c-sticky-atc-bar__error{
    display: none;
    gap: 4px;
    height: 13px;
    align-items: center;
}

.c-sticky-atc-bar__error svg{
    width: 12px;
    height: 12px;
}

.c-sticky-atc-bar__error-message{
    font-size: 12px;
    letter-spacing: normal;
}